@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

body{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    min-height: 100vh;
}

.section.top{
    background-image: url(imagenes/bg-top.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px 0px #000;
    /* margin-bottom: 10px; */
    
}

.section.top{
    z-index: 10;
    position: relative;
}

.container-fluid.slider>.row>div{
    padding: 0;
}

.container-fluid.slider img{
    height: calc(100vh - 96px);
    object-fit: cover;
}

.menu a{
    color: #fff;
    font-weight: 700;
    text-shadow: 2px 2px #000;
}

.menu a:hover{
    color: #ffea2c;
    
}

h1{
    color: #fff;
    text-shadow: 2px 2px 6px #000;
    font-family: 'Peralta', cursive;
}

body>.container{
    padding-top: 30px;
}

.accordion-button{
    font-weight: 700;
}

form .form-group{
    padding-bottom: 15px;
}